@font-face {
  font-family: "Acid";
  src: url(/Fonts/ACIDLABEL.ttf);
}
@font-face {
  font-family: "Montreal";
  src: url(/Fonts/Montreal.ttf);
}
@font-face {
  font-family: "Founders";
  src: url(/Fonts/Founders.ttf);
}
@font-face {
  font-family: "ink";
  src: url(./Fonts/ClashDisplay-Medium.ttf);
}
/* LENIS CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/* LENIS CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  /* outline: 1px solid white; */
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

:root {
  --green: #61e294;
  --purple:#a115e7;
  --bg-color: #e8eee5;
  --vemka: "Conflict";
  --acid: "Acid";
  --montreal: "Montreal";
  --text-size: 1.8rem;
  --heading-size: 8rem;
  --founders: "Founders";
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: var(--heading-size);
  text-transform: uppercase;
  font-family: var(--founders);
  line-height: 70px;
}

p {
  font-size: var(--text-size);
  font-family: var(--montreal);
  font-weight: 500;
}

a {
  text-decoration: none;
}

.btn {
  padding: 6px 12px;
  background-color: var(--purple);
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--founders);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;

  img {
    filter: invert(100%);
    height: 3vh;
    width: 3vh;
    transition: all 0.3s ease;
  }
}
.btn:hover {
  background-color:var(--green);
  color: black;
  transition: all 0.3s ease;
}
.btn:hover img {
  filter: invert(0%);
  transition: filter 0.3s ease;
}

/* HEADER */
.header {
  width: 100%;
  margin: auto;
  padding: 5px 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000064;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .logo {
    display: flex;
    flex-direction: column;

    span {
      font-size: var(--text-size);
      font-family: var(--acid);
      line-height: 15px;
    }
  }
  .navbar ul {
    display: flex;
    gap: 8rem;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: var(--text-size);
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--founders);
    position: relative;
  }
  ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0%;
    transition: width 0.3s ease;
    background-color: white;
  }
  a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
  }
}

/* HERO SECTION */
.hero-section {
  height: 110vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;

  .hero-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .hero-content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;

    h1 {
      font-size: clamp(5rem, 8vw, 15rem);
      line-height: 6vw;
    }

    .buttons {
      width: 100%;
      margin-top: 5vh;
      display: flex;
      justify-content: center;
      margin-inline: auto;
      gap: 2vh;
    }
  }
  .hero-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 100;

    .hero-span-container {
      border-top: 1px solid white;
      display: flex;
      padding: 10px;
      justify-content: space-between;
    }
    span {
      font-size: 1.5rem;
      pointer-events: none;
    }
  }
}

/* MARQUEE SECTION */
.marquee-section {
  padding: 1vh 0vh;
  margin-top: 20vh;
  width: 150%;
  background-color: #0ab04c;
  display: flex;
  gap: 5vh;
  transform: rotate(5deg) translateX(-100px);

  span {
    font-size: var(--heading-size);
    font-family: var(--founders);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 80px;
    /* animation: marquee 10000ms linear infinite; */
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* ABOUT SECTION */
.about-section {
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 5vh;

  .about-left {
    height: 100%;
    max-width:600px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 100;

    .about-left-content {
      display: flex;
      flex-direction: column;
      gap: 5vh;

      h1 {
        line-height: 60px;
      }
      .btn {
        width: 25%;
        font-size: 2rem;

        img {
          height: 4vh;
          width: 4vh;
        }
      }
    }
  }
  .about-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(#0000001f, #000000 60%);
      z-index: 10;
    }
  }
  .about-right {
    height: 100%;
    max-width: 600px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5vh;
  }
}

/* SERVICES SECTION */
.services-section {
  width: 100%;
  padding: 20px;
  margin-top: 20vh;
  pointer-events: none;
  .services {
    margin-top: 5vh;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2vh;
    background: radial-gradient(circle at 50%, var(--purple), black 45%);

    .service {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      width: 100%;
      height: 50vh;
      background-color: #00000051;
      backdrop-filter: blur(30px);
      position: relative;
      padding: 20px;

      .service-title {
        width: 100%;
        display: flex;
        gap: 2vh;
        z-index: 100;
        align-items: center;

        .icon {
          height: 7vh;
          width: 7vh;
        }
        h1 {
          font-size: 5rem;
          position: relative;
          background: linear-gradient(30deg,#e536ab,#5c03bc, #e875ff);
          background-clip: text;
          color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }
}

/* MARQUEE SECTION 2 */
.marquee-2 {
  background-color: #6a2189;
  transform: rotate(-5deg) translateX(-100px);
  margin-top: 10vh;
  /* span{animation: marquee 10000ms reverse infinite;} */
}

/*  WORK SECTION */
.work-section {
  width: 100%;
  margin-top: 20vh;
  padding: 20px;
  background: radial-gradient(circle at 50%, var(--purple), black 50%);

  .work-heading {
    width: 100%;
    text-align: center;
  }
  .work-container {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2vh;
    margin-top: 5vh;

    .work {
      height: 80vh;
      /* background-color: #b47aea; */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00000072;
      backdrop-filter: blur(30px);

      img {
        object-position: top;
      }
    }
  }
}

/* FOOTER SECTION */
footer {
  height: 70vh;
  width: 100%;
  background: radial-gradient(circle at 50% 200%, var(--purple), #000000 80%);
  margin-top: 20vh;
  position: relative;
  padding: 20px;

  .footer-content {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    align-items: center;

    .buttons {
      gap: 2vh;
      display: flex;

      .btn {
        font-size: 2.5rem;

        .img {
          height: 4vh;
          width: 4vh;
        }
      }
    }
  }
  .footer-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 100;

    .p-container {
      border-top: 1px solid white;
      padding: 10px;

      p {
        font-weight: 600;
      }
    }
  }
}
